{% extends "base.html" %}

{% block content %}
<section class="bg-white dark:bg-gray-900"></section>
    <div class="py-8 lg:py-16 space-y-8 lg:space-y-16">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ object.title }}</h2>
        </div> 

        <div class="flex justify-center items-center">
            <img src="{{ object.get_display_image }}" width="750" />
        </div>
        <div class="flex justify-center items-center">
            <div class="max-lg-w">
                {{ object.description|linebreaks }}
            </div>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900"></section>
    <div class="">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-lg lg:text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">Lecciones</h2>
        </div> 
        {% if user.is_authenticated %}
            {% if enrolled %}
                <p>Ya estás inscrito en este curso.</p>
                {% if course.exam %}
                    <a href="{% url 'exams:take_exam' course.exam.public_id %}" class="btn btn-primary">Tomar Examen</a>
                {% endif %}
                {% include 'courses/snippets/list-display.html' with queryset=lessons_queryset %}
            {% else %}
                <form action="{% url 'enroll_in_course' course.public_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Inscribirse en el Curso</button>
                </form>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión</a> o <a href="{% url 'register' %}">regístrate</a> para inscribirte en este curso.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}
